body{ 
	 font:15px/1.5 aerial,italic;
	 margin:0px;
	 padding:0px;
	 height:100%;
	 box-sizing:border-box;
	 }

.container{
	max-width: 1300px;
	max-height:5000px;
	
}
header{
     text-align:center;
	 width:100%;
	 height:103px;
	 background-color:rgb(230, 138, 0);
	 line-height:25px;
	 }
	  
.head{
    font-size:30px;
	margin-left:10px;
	float:left;
	margin-top:30px;
	}
 h1{
    font-size:50px;
	}		 
.button_1{
        dispaly:inline-block;
		height:30px;
		width:100px;
		text-align:centre;
		text-decoration:none;
		margin-top:2px;
		
}
.button_1:hover{
	background:#6cb2eb;
}
.button_1:hover a{
color:white;
font-size:15px;
}	

.abc{
float:left;
margin-right:10px;
height:103px;
position:relative;
}
 .abc img{
	float:left;
}
 .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
ul{
        list-style:none;
		display:list-item;
		color:black;
		padding:0;
		margin:0;
		position:absolute;
		}

ul li{

         list-style-type:none;
		 display:inline-block;
		 background:rgb(0, 0, 102);
		 float:left;
		 margin:0 2px;
		 width:150px;
		 height:40px;
		 line-height:10px;
		 text-align:centre;
		 border:0.5px solid white;   
}
 ul li a{
	     text-decoration:none;
           color:white;
           padding:10px;
		   display:block;
		   font-size:17px;
 }
/*a:hover{
	background:black;
	color:white;
	height:20px;
	
}*/

/*ul li ul{
         list-style:none;
		display:inline-block;
		color:black;
		padding:0;
		margin:0;
		position:absolute;
		}*/
ul li ul li{
	background:black;
	color:white;
	display:none;
}
/*ul li ul li a{
         text-decoration:none;
           color:white;
		   display:block;
		   font-size:20px;
		   padding-top:5px;
		   padding-bottom:5px;
		   text-align:center;
		   }*/
ul li:hover{
	background-color:black;
	display:block;
}
ul li:hover ul li{
         background-color:red;
		 display:block;
		 }

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 500px;
  border: 1px solid #f1f1f1;
  margin-top:70px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  
  width: 300px;
  height: 500px;
  margin-top:-60px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  top: 50px;
  float:leftwards;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
* {box-sizing:border-box}

* {box-sizing:border-box}
body {background: #000;}

 /* slideshow  */
@keyframes slideshow {
	10% {left: 0;}
	20% {left: 0;}
	30% {left: -100%;}
	40% {left: -100%;}
	50% {left: -200%;}
	60% {left: -200%;}
	70% {left: -300%;}
	80% {left: -300%;}
	90% {left: -400%;}
	100% {left: -400%}
}


#slider{overflow:hidden;width:50%;margin:5px auto; float:left; position:absolute;top:200px; margin-left:300px;border: 5px solid transparent;border-radius: 10px;}
#slider figure img{width:20%;float:left;}
#slider figure{position:relative;width:500%;margin:0;left:0;text-align:left;animation:20s slideshow infinite}

@media screen and (max-width: 767px) {#slider {overflow: hidden; width: 100%; margin: 0 auto;}}


.col-3{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	margin-left:20px;
}  
.col-3 a{
color:blue;
font-size:20px;
}
.col-3 a:hover{
color:purple;
}	
.title{
	margin-top:30px;
	color:black;
	font-size:20px;
}
 h3{
	font-size:20px;
	color:black;
}
/*--------sidebar-----*/
.sidebar{
background:#204a84;
position:absolute;
height:123vh;
width:200px;
margin-top:70px;
margin-right:20px;
margin-left:20px;
margin-bottom:10px;
float:left;
}
.sidebar ul{
	margin:0;
	padding:0;
}
.sidebar ul li {
	display:block;
	margin-top:35px;
	margin-bottom:15px;
	margin-left:15px;
	margin-right:15px;
	text-decoration:none;
	border-radius:10px;
	cursor:hand;
}

.sidebar a{
	font-size:20px;
	line-height:10px;
}
.sidebar ul li a{
text-align:center;
font-size:20px;
color:white;
line-height:10px;
}	
.sidebar ul li:hover {
	margin-left:10px;
	background-color:#0d76ce;
	position:relative;
}
.sidebar ul li a:hover{
	color:white;
}
/*--------sidebar_1-----*/
.sidebar_1{
background-color:#204a84;
position:relative;
width:200px;
height:90vh;
margin-top:70px;
margin-right:20px;
margin-left:20px;
float:left;
}
.sidebar_2{
background-color:#204a84;
position:relative;
width:200px;
height:180vh;
margin-top:70px;
margin-right:20px;
margin-left:20px;
float:left;
}
hr{
	width;100%;
}
.sidebar_2 ul li {
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	margin-right:15px;
	text-decoration:none;
	border-radius:10px;
	cursor:hand;
}
.sidebar_2 ul li a{
text-align:center;
font-size:15px;
color:white;
line-height:10px;
}
.sidebar_2 ul li:hover {
	margin-left:10px;
	background-color:#0d76ce;
	position:relative;
}
.sidebar_2 ul li a:hover{
	color:white;
	font-size:20px;
}
.sidebar_1 ul{
	margin:0;
	padding:0;
}
.sidebar_1 ul li {
	display:block;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	margin-right:15px;
	text-decoration:none;
	border-radius:10px;
	cursor:hand;
}
.sidebar_1 ul li a{
text-align:center;
font-size:15px;
color:white;
line-height:10px;
}
.sidebar_1 ul li:hover {
	margin-left:10px;
	background-color:#0d76ce;
	position:relative;
}
.sidebar_1 ul li a:hover{
	color:white;
	font-size:20px;
}

/*--------content-----*/
.bg-light{
	background-color:#f8f9fa !important;
	margin-left:10px;
}
.content1{
	margin-right:10px;
	margin-left:10px;
}
.content{
	text-align:left;
	margin-bottom:20px;
	margin-top:50px;
	height:100%;
	max-width:750px;
	margin-left:220px;
	margin-right:310px;
}
.content hr{
		border: none;
	background: #b5b5b5;
	height: 1px;
	max-width:100%;
}
.shivani{
	font-size:30px;
	margin-top:50px;
	margin-bottom:2px;
	width:120vh;
}
.font-weight-bold{
	font-weight:700;
	margin-left:10px;
}
.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
}
.content p{
	display:block;
}
/*--------sidebar1-----*/
.sidebar1{
width:300px;
height:100%;
margin-top:130px;
margin-right:10px;
margin-left:10px;
background-color:white;
float:right;
}

.sidebar2{
width:300px;
height:85vh;
margin-top:130px;
margin-right:10px;
margin-left:10px;
background-color:white;
float:right;
}
.box{
	width:300px;
	margin-top:10px;
	perspective:1000px;
	height:80vh;
}
.box .box-img img{
	width:100%;
	height:auto;
}
.box .box-img{
	transform:rotateY(0);
	transition:all 0.5s ease-in-out 0s;
}
.box:hover .box-img{
	transform:rotateY(-90deg);
}
.box .box-content{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	padding:60px 20px;
	box-sizing:border-box;
	text-align:center;
	border:2px solid red;
	color:white;
	background:rgba(0,0,0,0.7);
	transform:rotateY(90deg);
	transition:all 0.5s ease-in-out 0s;
}
.box .box-content h3{
	color:white;
	font-size:20px;
}
.box:hover .box-content{
	transform:rotateY(0);
}
.department{
	margin-top:20px;
}
/*--------popup-----*/
#popUpmain{
	position:fixed;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index:1001;
}
#closepop{
	position:absolute;
	top:20px;
	right:30px;
	transition:all 200ms;
	font-size:30px;
	font-weight:bold;
	text-decoration:none;
	color:#333;
	cursor:pointer;

}
#pop{
	width:500px;
	height:800px;
	background-color:white;
	background-size:cover;
	position:absolute;
	top:50%;
	left:50%;
    transform:translate(-50%, -50%);
	box-shadow:1px 5px 10px 3px black;
	
}
center{
	display:block;
	text-align: center;
}
.soham{
	font-size:1.8rem;
	margin-bottom:0.5rem;
	font-weight:500;
	line-height:1.2;
	margin-top:0;
	color:black;
}
form{
	display:block;
	margin-top:0em;
}
 input{
	overflow:visible;
}
input, button, select, optgroup, textarea{
	margin:0;
	font-size:inherit;
	font-family:inherit;
	line-height:inherit;
}
input[type="hidden" i] {
display:none;
appearance:initial;
background-color:initial;
padding:initial;
cursor:default;
margin:initial;
}
input{
	text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing:normal;
    text-transform: none;
    display: inline-block;
    text-indent: 0px;
    text-shadow: none;
    appearance: textfield;
    text-align: start;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
select{
	word-wrap:normal;
	text-transform:none;
	margin:0;
	font-family:inherit;
}
.form-group{
	margin-bottom:1rem;
}
label{
	display:inline-block;
	margin-bottom:0.5rem;
	cursor:default;
	color:black;
}
.form-control{
	display:block;
	width:100%;
	height:calc(1.6em + 0.75rem + 2px);
	padding:0.375rem 0.75rem;
	font-size:0.9rem;
	font-weight:400;
	line-height:1.6;
	color:#495057;
	background-color:white;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:0.25rem;
	transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="text" i] {
    padding: 1px 2px;
}
.pop .button-wrapper{
	text-align:center;
}


.btn{
	display:inline-block;
	font-weight:400;
	text-align:center;
	margin-bottom:10px;
	vertical-align:middle;
	border:1px solid transparent;
	padding:0.375rem 0.75rem;
	font-size:0.9rem;
	line-height:1.6;
	border-radius:0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="submit" i] {
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
	background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.alert-success{
	color:#1d643b;
	background-color:#d7f3e3;
	border-color:#c7eed8;
}
.alert{
	position:relative;
	padding:0.75rem 1.25rem;
	margin-bottom:1rem;
	border:1px solid transparent;
	border-radius:0.25rem;
	display:none;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled){
	cursor:pointer;
}
button, [type=button], [type=reset], [type=submit]{
	-webkit-appearance:button;
}
/*--------card-----*/
.heading{
	text-align:left;
	margin-left:240px;
	font-size:25px;
	margin-bottom:10px;
	margin-top:-30px;
}
.row1{
	display:flex;
	justify-content:space-around;
	flex-direction:column;
}
.row2{
	display:flex;
	justify-content:space-around;
	flex-direction:row;
}
.card{
	width:70%;
	margin-left:240px;
	background:white;
	border:1px solid black;
	margin-bottom:50px;
	transition:0.3s;
}
.card1{
	width:15%;
	background:white;
	border:1px solid grey;
	margin-bottom:20px;
	transition:0.3s;
	margin-right:10px;
	margin-top:20px;
}
.card-header{
	text-align:left;
	padding:10px;
	background:linear-gradient(to right, #6cb2eb, #6574cd );
    color:white;
	margin-bottom:20px;
}
.card-header1{
    width:100%;
}
.card-body1{
margin-bottom:10px;
text-align:center;
font-size:15px;
}
.card-body a{
margin-bottom:10px;
text-align:center;
font-size:20px;
margin-left:10px;
}
.card-body a:hover{
	color:orange;
}
.card1:hover{
	transform:scale(1.05);
	box-shadow:0 0 40px -10px rgba(0, 0, 0, 0.30);
}
.card-body1.btn2{
	display:block;
	color:white;
	text-align:center;
	background:#2176bd;
	margin-top:20px;
	text-decoration:none;
	padding:10px 40px;
}
.btn2:hover{
	background:#3490dc;
	border-radius:10px;
}
	
/*--------login-----*/

.account-page{
	padding:50px 0;
	background:radial-gradient(#fff,lightpink);
}
.form-container1{
	background:white;
	width:300px;
	height:500px;
	position:relative;
	text-align:center;
	padding:20px 0;
	margin:auto;
	box-shadow:0 0 20px 0px rgba(0,0,0,0.1);
	overflow:hidden;
}
.form-container1 span{
	font-weight:bold;
	padding:0 10px;
	color:#555;
	cursor:pointer;
	width:100px;
	display:inline-block;
}

.form-btn1{
	display:inline-block;
}
	
.form-container1 form{
	max-width:300px;
	padding:0 20px;
	position:absolute;
	top:130px;
	transition:transform 1s;
}
.form-control_1 input{
	width:100%;
	height:30px;
	margin: 10px 0;
	padding:0 10px;
	border:1px solid black;
	display:block;
	font-size:14px;
}

form .btn1{
	width:100%;
	border:none;
	cursor:pointer;
	margin: 10px 0;
	background-color: #3090C7;
	font-size:15px;
}
form .btn1:hover{
	background-color:#95B9C7;
	
}

form .btn:focus{
	outline:none;
}
#Loginform{
	left:-300px;
}
#Regform{
	left:0;
}
form a{
	font-size:12px;
}
#Indicator{
	width:100px;
	border:none;
	background:orange;
	height:3px;
	margin-top:8px;
	transform:translateX(100px);
	transition:transform 1s;
	margin-left:10px;
	margin-right:20px;
}

.form-control_1 label{
	float:left;
	display:inline-block;
	margin-bottom:5px;
	color:black;
	font-size:15px;
}

/*--------footer-----*/
.footer{
	background: black;
	color: black;
	font-size: 14px;
	padding: 40px 0 20px;
	margin-bottom:1px;
	position:fixed;
}
.footer p{
	color: white;
}
.footer h3{
	color: #fff;
	margin-bottom: 20px;
	margin-top:10px;
	font-size:20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
	min-width: 150px;
	margin-bottom: 0 auto;
	margin-right:20px;
	margin-left:20px;
}
.footer-col-3 a{
	color:white;
	display:block;
}
.footer-col-2 a{
	color:white;
	display:block;
}
.footer-col-1 a{
	color:white;
	display:block;
}
.footer-col-4 a{
	color:white;
	display:block;
}
.footer-col-1{
	flex-basis: 30%;
	text-align:left;
	margin-right:20px;
	margin-left:20px;

}
.footer-col-2{
	flex: 1;
	margin-right:20px;
	margin-left:20px;

}
.footer-col-3{
	flex: 1;
	margin-right:20px;
	margin-left:20px;

}
.footer-col-4{
	flex:1;
	margin-right:20px;
	margin-left:20px;

}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
}
.copyright{
	text-align: center;
}

@media (min-width: 360px)
#pop{
	width:70%;
	height:95%;
	background:#fff;
	background-color: rgb(255, 255, 255);
	background-size:cover;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-shadow:2px 2px 5px 3px white;
}

* {box-sizing:border-box}




box-sizing: border-box;
}
<style>
:host([direction="up"]), :host([direction="down"]) {
    overflow: initial;
    overflow-y: hidden;
    white-space: initial;
}
<style>
:host {
    display: inline-block;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
}
user agent stylesheet
marquee {
    display: inline-block;
    width: -webkit-fill-available;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
#more {display: none;}




.cssmarquee {
height: 50px;
overflow: hidden;
margin-top:
}
.cssmarquee h1 {
font-size: 2em;
color: WHITE;
position: absolute;
width: 100%;
height: 100%;
margin-top:50px;
line-height: 50px;
text-align: center;
transform:translateX(100%);
animation: cssmarquee 10s linear infinite;
}
@keyframes cssmarquee {
0% {
transform: translateX(100%);
}
100% {
transform: translateX(-100%);
}
}


